<%= render "home/header" %>

<div class="container">

	<p id="notice"></p>

	<h2>User info</h2>
	<%= form_for(@user) do |f| %>

	<div class="field">
		<label for="user_name">Name</label>
		<%= f.text_field :name, class:"name" %>
	</div>

	<div class="field">
		<label for="user_image">Image</label>
		<%= f.attachment_field :avatar_image, class:"user_image" %>
	</div>

	<div class="field">
		<label for="user_introduction">Introduction</label>
		<%= f.text_area :self_introduction_text, class:"introduction" %>
	</div>

	<div class="actions">
		<%= f.submit "Update User" %>
	</div>
	<% end %>

</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-xs-offset-9">
				<p>CopyRight Infratop.inc</p>
			</div>
	    </div>
	</div>
</footer>